

@media screen and (min-width: 321px) and (max-width: 680px)
{
    html, body
    {
        font-size: 14px !important;
    }

    input
    {
        font-size: 14px !important;
    }

    .esriCTDivAppHolder
    {
        width: 100% !important;
    }

    .divAppContent
    {
        width: 287px;
        margin: 0 auto;
    }



    .esriCTShareCursor, .facebook, .twitter, .email, .embedding
    {
        height: 44px !important;
        width: 44px !important;
        padding: 8px 0 !important;
        background-size: 44px;
    }
    .facebook
    {
        background-image: url('../images/img44x44/img_facebook.png') !important;
    }

    .twitter
    {
        background-image: url('../images/img44x44/img_twitter.png') !important;
    }

    .email
    {
        background-image: url('../images/img44x44/img_email.png') !important;
    }
    .embedding
    {
        background-image: url("../images/img44x44/embedding.png") !important;
    }

    .esriCTTdHeaderSearch, .esriCTTdHeaderSearch-select, .esriCTTdGeolocation, .esriCTImgSocialMedia-select, .esriCTImgSocialMedia, .esriCTRouteImg, .esriCTRouteImg-select, .esriCTHelpImg, .esriCTImgPrint, .esriCTTdHeaderPolygon, .esriCTTdHeaderPolygon-select
    {
        height: 44px !important;
        width: 44px !important;
        background-size: 44px !important;
        width: 16.5% !important;
        padding: 8px 0 !important;
        margin: 0px 0px;
    }
    .esriCTTdHeaderSearch
    {
        background-image: url("../images/img44x44/search.png") !important;
    }

    .esriCTTdHeaderSearch-select
    {
        background-image: url("../images/img44x44/search-select.png") !important;
    }

     .esriCTTdHeaderPolygon
    {
        background-image: url("../images/img44x44/polygon.png") !important;
    }

    .esriCTTdHeaderPolygon-select
    {
        background-image: url("../images/img44x44/polygon-select.png") !important;
    }

    .esriCTTdGeolocation
    {
        background-image: url("../images/img44x44/imgGeolocation.png") !important;
    }

    .esriCTImgSocialMedia-select
    {
        background-image: url("../images/img44x44/imgSocialMedia-select.png") !important;
    }

    .esriCTImgSocialMedia
    {
        background-image: url("../images/img44x44/imgSocialMedia.png") !important;
    }

    .esriCTHelpImg
    {
        background-image: url("../images/img44x44/help.png") !important;
    }
    .esriCTImgPrint
    {
        background-image: url("../images/img44x44/imgPrint.png") !important;
    }
    .esriCTApplicationHeaderTextTD
    {
        display: none;
    }

    .esriCTApplicationHeaderIcon
    {
        display: none;
    }

    .esriCTRightTab
    {
        width: 100%;
    }

    .esriCTApplicationHeader
    {
        height: 60px;
    }



    .esriCTApplicationHeaderIcon
    {
        display: none;
    }

    .legendbox
    {
        display: none;
    }

    /* Address container */



    .esriCTAddressContent
    {
        height: 300px;
        border-right: 1px solid #007ac2;
        border-left: 1px solid #007ac2;
        border-bottom: 1px solid #007ac2;
    }




    /* End of Address container Styles */
    /* Splash Screen */
    .customButton
    {
        border: none;
        color: #fff;
        cursor: pointer;
        background: #007ac2;
        overflow: hidden;
        width: 75px;
        height: 25px !important;
        margin: 24PX AUTO;
        position: absolute;
        left: 40%;
        bottom: 0px;
    }

    .esriCTSplashScreenDialog
    {
        height: 95% !important;
        width: 95% !important;
        margin-top: 1% !important;
    }

    .divSplashScreenContent
    {
        width: 95% !important;
    }

    .esriCTFullWidth
    {
        width: 100% !important;
    }

    .splashScreenScrollBarContainer
    {
        width: 100% !important;
    }

    .scrollbar_content
    {
        width: 100% !important;
    }
    /* End of Splash Screen */

    .esriCTbaseMapContainerNode
    {
        display: none !important;
    }


    .esriCTTxtShare
    {
        border-top: 1px solid #007AC2;
        outline: medium none;
        height: 50% !important;
        width: 80% !important;
        vertical-align: middle !important;
        border-bottom: 1px solid #007AC2;
        border-left: 1px solid #007AC2;
        border-right: 1px solid #007AC2;
        cursor: default !important;
        border-style: dotted;
        border-color: #808080;
        margin: 20px;
    }

    .esriCTDivshareContainer
    {
        height: 45% !important;
        position: relative !important;
        width: 100% !important;
    }

    .esriCTTxtShare
    {
        width: 90% !important;
    }
    .esriCTAddressHolder, .esriCTDivAppContainer
    {
        width: 100%;
        top: 60px;
    }
}

/* Portrait */
@media screen and (max-width: 320px)
{
    html, body
    {
        font-size: 14px !important;
    }

    input
    {
        font-size: 14px !important;
    }


    .esriCTDivAppHolder
    {
        width: 100% !important;
    }


    .esriCTShareCursor, .facebook, .twitter, .email, .embedding
    {
        height: 44px !important;
        width: 44px !important;
        padding: 8px 0 !important;
        background-size: 44px;
    }
    .facebook
    {
        background-image: url('../images/img44x44/img_facebook.png') !important;
    }

    .twitter
    {
        background-image: url('../images/img44x44/img_twitter.png') !important;
    }

    .email
    {
        background-image: url('../images/img44x44/img_email.png') !important;
    }
    .embedding
    {
        background-image: url("../images/img44x44/embedding.png") !important;
    }


    .esriCTTdHeaderSearch, .esriCTTdHeaderSearch-select, .esriCTTdGeolocation, .esriCTImgSocialMedia-select, .esriCTImgSocialMedia, .esriCTRouteImg, .esriCTRouteImg-select, .esriCTHelpImg, .esriCTImgPrint, .esriCTTdHeaderPolygon, .esriCTTdHeaderPolygon-select
    {
        height: 44px !important;
        width: 44px !important;
        background-size: 44px !important;
        width: 16.5% !important;
        padding: 8px 0 !important;
        margin: 0px 0px;
    }
    .esriCTTdHeaderSearch
    {
        background-image: url("../images/img44x44/search.png") !important;
    }

    .esriCTTdHeaderSearch-select
    {
        background-image: url("../images/img44x44/search-select.png") !important;
    }

    .esriCTTdGeolocation
    {
        background-image: url("../images/img44x44/imgGeolocation.png") !important;
    }

    .esriCTImgSocialMedia-select
    {
        background-image: url("../images/img44x44/imgSocialMedia-select.png") !important;
    }

    .esriCTImgSocialMedia
    {
        background-image: url("../images/img44x44/imgSocialMedia.png") !important;
    }

    .esriCTHelpImg
    {
        background-image: url("../images/img44x44/help.png") !important;
    }

    .esriCTTdHeaderPolygon
    {
        background-image: url("../images/img44x44/polygon.png") !important;
    }

    .esriCTTdHeaderPolygon-select
    {
        background-image: url("../images/img44x44/polygon-select.png") !important;
    }

    .esriCTImgPrint
    {
        background-image: url("../images/img44x44/imgPrint.png") !important;
    }

    .esriCTApplicationHeaderIcon
    {
        display: none;
    }

    .esriCTRightTab
    {
        width: 100% !important;
    }

    .legendbox
    {
        display: none;
    }
    /* Splash Screen */
    .customButton
    {
        border: none;
        color: #fff;
        cursor: pointer;
        background: #007ac2;
        overflow: hidden;
        width: 75px;
        height: 25px !important;
        margin: 24PX AUTO;
        position: absolute;
        left: 40%;
        bottom: 0px;
    }

    .esriCTSplashScreenDialog
    {
        height: 95% !important;
        width: 95% !important;
        margin-top: 1% !important;
    }
    .divSplashScreenContent
    {
        width: 95% !important;
    }
    .esriCTApplicationHeader
    {
        height: 60px !important;
    }
    .sriGovtSplashContent
    {
        width: 100% !important;
    }
    .splashScreenScrollBarContainer
    {
        width: 100% !important;
    }
    .scrollbar_content
    {
        width: 100% !important;
    }
    .esriCTApplicationHeaderTextTD
    {
        display: none;
    }

    /* End of Splash Screen */
    .esriCTbaseMapContainerNode
    {
        display: none !important;
    }
    .esriCTSearchClose
    {
        right: 75px;
    }

    .esriCTTxtShare
    {
        border-top: 1px solid #007AC2;
        outline: medium none;
        height: 50% !important;
        width: 80% !important;
        vertical-align: middle !important;
        border-bottom: 1px solid #007AC2;
        border-left: 1px solid #007AC2;
        border-right: 1px solid #007AC2;
        cursor: default !important;
        border-style: dotted;
        border-color: #808080;
        margin: 20px;
    }

    .esriCTDivshareContainer
    {
        height: 45% !important;
        position: relative !important;
        width: 100% !important;
    }
    .esriCTTxtShare
    {
        width: 80% !important;
    }
    .esriCTAddressHolder, .esriCTDivAppContainer
    {
        width: 100%;
        top: 60px;
    }
}

@media screen and (min-width: 680px) and (max-width: 780px)
{
    .esriCTTdHeaderSearch, .esriCTTdHeaderSearch-select, .esriCTTdGeolocation, .esriCTImgSocialMedia-select, .esriCTImgSocialMedia, .esriCTRouteImg, .esriCTRouteImg-select, .esriCTHelpImg, .esriCTImgPrint, .esriCTTdHeaderPolygon, .esriCTTdHeaderPolygon-select {
        margin: 12px 19px;
    }
}


/* Landscape */