<div data-dojo-attach-point="esriCTinfoWindow" class="esriCTinfoWindow">
    <div id="divInfoContainer" align="center" class="esriCTInfoContainer esriCTopacityHideAnimation">
        <div align="left" id="divInfoContent" class="esriCTInfoContent">
            <!-- <div class="cloasedivmobile" id="backToMap" onclick="HideInfoContainer(); backtomap();">
                BACK TO MAP</div>-->
            <div id="tabs" style="width: 100%; height: 100%;">
            <div id ="headderPanel">
               <!-- <ul>
                <li class="esriCTheadderPanel"> Napperville City</li>
                    <li  class="esriCTclosediv" data-dojo-attach-point="esriCTclosediv">
                    </li>
                </ul>-->
                <div class="esriCTheadderPanel">Napperville City</div>
              
                <div class="esriCTclosediv" data-dojo-attach-point="esriCTclosediv"></div>
                </div>                    
              <div data-dojo-attach-point="divInfoDetails" class="infopanel" style="color: #fff;">
                <div id="divInfoDetailsScroll" class="esriCTInfoDetailsScroll">
                 </div>
              </div>
              </div>
        </div>
    </div>
</div>
