<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
      <serverUrl url="http://tasks.arcgisonline.com/" matchAll="true"></serverUrl>
	    <serverUrl url="http://52.26.253.224:6080/arcgis/rest/" matchAll="true"></serverUrl>
	    <serverUrl url="http://services.arcgis.com/b6gLrKHqgkQb393u/arcgis/" matchAll="true"></serverUrl>
      <serverUrl url="http://http://tiles.arcgis.com/tiles/Pu6Fai10JE2L2xUd/arcgis/" matchAll="true"></serverUrl>
      <serverUrl url="https://api-ssl.bitly.com/v3/shorten"
          matchAll="true"
          accessToken="09392d98805bea10e1a1ad5c8fd206b43985c6c0"
          tokenParamName="access_token"
          rateLimit="50"
          rateLimitPeriod="10">
      </serverUrl>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->