<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        mustMatch="true" - to only proxy to sites listed, false to proxy to any site.
        logFile="<file with local path>" - if specified, events will be written to the log file.
-->
<ProxyConfig mustMatch="false" logFile="C:\Temp\Shared\proxy_logs\auth_proxy.log">
  <serverUrls>

    <serverUrl url="http://tryitlive.arcgis.com/arcgis/rest/" matchAll="true" ></serverUrl>
    <serverUrl url="http://ec2-54-214-169-132.us-west-2.compute.amazonaws.com:6080/arcgis/rest/" matchAll="true" ></serverUrl>
    <serverUrl url="http://tasks.arcgisonline.com/" matchAll="true"></serverUrl>
    <serverUrl url="http://services.arcgis.com/b6gLrKHqgkQb393u/arcgis/rest/services/"
    matchAll="true">
    </serverUrl>
    <serverUrl url="https://api-ssl.bitly.com/v3/shorten"
        matchAll="true"
        accessToken="09392d98805bea10e1a1ad5c8fd206b43985c6c0"
        tokenParamName="access_token"
        rateLimit="50"
        rateLimitPeriod="10">
    </serverUrl>

        <!-- If using a private group accessed via the proxy, add the path to the proxy program in the config.js file
             and uncomment one of the next two tags depending on whether you want to use a username and password or a
             clientId and clientSecret -->
        <!--serverUrl url="http://www.arcgis.com"
                   matchAll="true"
                   username=""
                   password=""
            /-->
        <!--serverUrl url="http://www.arcgis.com"
                   matchAll="true"
                   clientId=""
                   clientSecret=""
            /-->
   </serverUrls>

</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
