<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
      <serverUrl url="http://tryitlive.arcgis.com/arcgis/rest/" matchAll="true" ></serverUrl>
      <serverUrl url="http://ec2-54-214-169-132.us-west-2.compute.amazonaws.com:6080/arcgis/rest/" matchAll="true" ></serverUrl>
      <serverUrl url="http://tasks.arcgisonline.com/" matchAll="true"></serverUrl>
      <serverUrl url="http://services.arcgis.com/b6gLrKHqgkQb393u/arcgis/rest/services/" matchAll="true"></serverUrl>
      <serverUrl url="https://api-ssl.bitly.com/v3/shorten"
          matchAll="true"
          accessToken="09392d98805bea10e1a1ad5c8fd206b43985c6c0"
          tokenParamName="access_token"
          rateLimit="50"
          rateLimitPeriod="10">
      </serverUrl>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
